<div class="container">
  <h1>Your stupid coach</h1>
<form action="answer" data-turbo="false">
  <div class="mb-3">
    <label for="exampleInputQuestion" class="form-label">Your question:</label>
    <input type="text" class="form-control" id="exampleInputQuestion" name="question">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>
</div>
